@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }
}

.writer-text {
overflow: hidden;
letter-spacing: 2px;
animation: typing 2s steps(60, end), blink .75s step-end infinite;
 white-space: nowrap;
 border-right: 2px solid white;
}

.writer-text2 {
 overflow: hidden;
 letter-spacing: 2px;
 animation: typing1 2s steps(10, end), blink .75s step-end infinite;
  white-space: nowrap;
 }

@keyframes typing1 {
 from { 
     width: 0% 
 }
 to { 
     width: 13ch 
 }
}

@keyframes typing {
 from { 
     width: 0% 
 }
 to { 
     width: 8ch 
 }
}


@keyframes blink {
 from, to { 
     border-color: transparent 
 }
 50% { 
     border-color: white; 
 }
}